<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h2>Formulário Cliente</h2>

<form action="/gerar" method="POST" onsubmit="return validarFormulario()">
    <fieldset>
        <legend>Dados do Responsável</legend>
        <label>Nome:<input type="text" name="nome" required></label>
        <label>CPF/CNPJ:<input type="text" name="cpf_cnpj" id="cpf_cnpj" required></label>
        <label>Telefone:<input type="text" name="telefone" required></label>
        <label>E-Mail:<input type="text" name="email" required></label>
    </fieldset>

    <fieldset>
        <legend>Unidade Consumidora</legend>
        <label>Código da UC:<input type="text" name="codigo_uc" required></label>
        <fieldset>
            <legend>Padrão de Entrada CPFL</legend>
            <label>Selecione o padrão:
                <select name="padrao_cpfl" required>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                    <option value="C3">C3</option>
                    <option value="C4">C4</option>
                    <option value="C5">C5</option>
                </select>
            </label>
            <label>Forma de conexão:
                <select name="forma_conexao" required>
                    <option value="Aérea">Aérea</option>
                    <option value="Subterrânea">Subterrânea</option>
                </select>
            </label>
        </fieldset>
    </fieldset>

    <fieldset>
        <legend>Endereço da Instalação</legend>
        <label>CEP:
            <input type="text" id="cep" name="cep" required>
            <button type="button" onclick="buscarEndereco()">Buscar</button>
          </label>
        <label>Numero:<input type="text" name="numero" id="numero" required></label>
        <label>Endereço:<input type="text" id="endereco" name="endereco" required></label>
        <label>Cidade:<input type="text" id="cidade" name="cidade" readonly required></label>
    </fieldset>

    <fieldset>
        <legend>Coordenadas e Localização</legend>
        <div id="mapa" ></div>
        <label>Latitude:
            <input type="text" name="latitude" id="latitude" onblur="moverMarcadorManual()">
        </label>
        <label>Longitude:
            <input type="text" name="longitude" id="longitude" onblur="moverMarcadorManual()">
        </label>
    </fieldset>

    <fieldset>
        <legend>Módulos Fotovoltaicos</legend>
        <label>Selecionar módulo existente:
            <select name="modulo_escolhido">
                {% for m in modulos %}
                    <option value="{{ m.fabricante }}|{{ m.modelo }}|{{ m.potencia }}">
                        {{ m.fabricante }} - {{ m.modelo }} ({{ m.potencia }}W)
                    </option>
                {% endfor %}
            </select>
        </label>
        <p><strong>OU</strong> adicionar novo módulo:</p>
        <label>Fabricante:<input type="text" name="mod_novo_fabricante"></label>
        <label>Modelo:<input type="text" name="mod_novo_modelo"></label>
        <label>Potência (W):<input type="text" name="mod_novo_potencia" step="any"></label>
        <label>Quantidade:<input type="number" name="mod_quantidade" required></label>
    </fieldset>

    <fieldset>
        <legend>Inversores</legend>
        <label>Selecionar inversor existente:
            <select name="inversor_escolhido">
                {% for i in inversores %}
                    <option value="{{ i.fabricante }}|{{ i.modelo }}|{{ i.potencia }}">
                        {{ i.fabricante }} - {{ i.modelo }} ({{ i.potencia }}W)
                    </option>
                {% endfor %}
            </select>
        </label>
        <p><strong>OU</strong> adicionar novo inversor:</p>
        <label>Fabricante:<input type="text" name="inv_novo_fabricante"></label>
        <label>Modelo:<input type="text" name="inv_novo_modelo"></label>
        <label>Potência (W):<input type="text" name="inv_novo_potencia" step="any"></label>
        <label>Quantidade:<input type="number" name="inv_quantidade" required></label>
    </fieldset>

    <label>Data Entrada de Operação:<input type="text" name="data_operacao" required></label>
    <button type="submit">Gerar Documentos CPFL (ZIP)</button>
</form>
</body>

<!-- Scripts -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/static/js/viacep.js" defer></script>
<script src="/static/js/validarCpfCnpj.js" defer></script>
<script src="/static/js/mascararCpfCnpj.js" defer></script>
<script src="{{ url_for('static', filename='js/mapa_localizacao.js') }}" defer></script>
</html>
